* {
    user-select: none;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

.title-bar {
    position: static;
    display: flex;
    align-items: center;
}

/* 主布局 */
.container {
    display: flex;
    height: 100%;
    /* height: calc(100% - 64px); 减去顶部应用栏高度 */
}

/* 顶部应用栏固定定位 */
mdui-top-app-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-app-region: drag;
}
mdui-button-icon {
    -webkit-app-region: no-drag;
}
mdui-navigation-rail {
    position: static !important;
    z-index: 114514;
}

.navigation {
    position: relative;
}

.right-container {
    position: relative;
    overflow: hidden;
}


#playing-list img {
    height: 90px;
    border-radius: 14px;
}

.mode {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 114514;
}

.container {
    display: grid;
    grid-template-columns: min-content auto;
    height: 100%;
    width: 100%;
}

.cover {
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;

    & > .cover-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 13px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 7px;
}

.player-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-direction: column;
}

.controls {
    width: 100%;
}
